<head>
    <title>List Students</title>
    <meta name="menuName" content="event"/>
    <link href="resources/css/jquery.stepy.css" rel="stylesheet">
    <script src="resources/js/jquery.stepy.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#event_form').stepy();
        });
    </script>
</head>

<div class="hero-unit">
    <h3>Create a new event</h3>
    <hr/>
    <form id="event_form">
        <fieldset title="Step 1">
            <legend>Date and Time</legend>
        </fieldset>

        <fieldset title="Step 2">
            <legend>Company Details</legend>
        </fieldset>

        <fieldset title="Step 3">
            <legend>Candidates</legend>
        </fieldset>

        <fieldset title="Step 4">
            <legend>Notification</legend>
            <input type="submit" class="btn btn-success btn-large finish"/>
        </fieldset>

    </form>
</div>