<head>
    <title>List Students</title>
    <meta name="menuName" content="event"/>
    <script src="resources/js/jquery.stepy.js"></script>
    <link href="resources/css/jquery.stepy.css" rel="stylesheet">
    <script src="resources/js/jquery-ui.js"></script>
    <link rel="stylesheet" href="resources/css/jquery-ui.css"/>
    <script src="resources/js/jquery-ui-timepicker-addon.js"></script>
    <script src="resources/js/jquery.validate.min.js"></script>

</head>

<div class="hero-unit">
    <h3>Create a new event</h3>
    <hr/>
    <form id="event_form" method="POST" action="po/createEvent">
        <fieldset title="Step 1">
            <legend>Date and Time</legend>
            <div class="control-group">
                <label class="control-label">Event Date</label>

                <div class="controls">
                    #springFormInput ('event.date' , 'placeholder="Date"')
                </div>
            </div>
        </fieldset>

            <fieldset title="Step 2">
            <legend>Company Details</legend>
            <div class="control-group">
                <label class="control-label">Company Name</label>

                <div class="controls">
                    #springFormInput ('event.company.name' , 'placeholder="Company Name"')
                </div>

                <label class="control-label">Description</label>

                <div class="controls">
                    #springFormInput ('event.company.description' , 'placeholder="Description"')
                </div>
            </div>
        </fieldset>

            <fieldset title="Step 3">
            <legend>Criteria</legend>

            <div class="control-group">
                <label class="control-label">SSC Marks</label>

                <div class="controls">
                    #springFormInput ('event.company.criteria.sscMarks' , 'placeholder="Minimum SSC Marks"')
                </div>

                <label class="control-label">HSC Marks</label>

                <div class="controls">
                    #springFormInput ('event.company.criteria.hscMarks' , 'placeholder="Minimum HSC Marks"')
                </div>

                <label class="control-label">Current Degree Marks</label>

                <div class="controls">
                    #springFormInput ('event.company.criteria.currentDegreeMarks' , 'placeholder="Minimum current degree Marks"')
                </div>
            </div>
        </fieldset>
        <fieldset title="Step 4">
               <legend>Eligible Students</legend>
               <div class="control-group">
                   <div id="listOfEligibleStudents" class="controls">
                   </div>
                   #springFormHiddenInput ('event.sidsOfEligibleStudents', '')
               </div>
           </fieldset>
            <fieldset title="Step 5">
            <legend>Notification</legend>

            <div class="control-group">
                <label class="control-label">Please specify notification type</label>

                <div class="controls">
                    <input type="radio" name="event.notificationType" value="EMAIL" checked="checked"/>
                    <label class="control-label">Email</label> <br/>

                    <input type="radio" name="event.notificationType" value="MESSAGE"/>
                    <label class="control-label">Message</label>
                </div>
            </div>

        </fieldset>

            <input type="submit" style="font-size:14px" value="Create Event" class="finish btn btn-success"/>

        </form>
        <br/>
    </div>
    <script type="text/javascript">
        $(function () {

            $("#date").datetimepicker({
                ampm:true,
                beforeShow:function (input, inst) {
                    inst.dpDiv.css({bottom:'0px', top:''});
                }
            });

            $('#event_form').stepy({
                backLabel:'Backward',
                block:true,
                errorImage:true,
                nextLabel:'Forward',
                titleClick:true,
                validate:true
            });

            $('#event_form').validate({
                errorPlacement:function (error, element) {
                    $('#event_form div.stepy-error').append(error);
                }, rules:{
                    'date':'required',
                    'company.name':'required',
                    'company.description':'required',
                    'company.criteria.sscMarks':'required',
                    'company.criteria.hscMarks':'required',
                    'company.criteria.currentDegreeMarks':'required'
                }, messages:{
                    'date':{ required:'Invalid Date'},
                    'company.name':{ required:'Company name is required'},
                    'company.description':{ required:'Company description is required'},
                    'company.criteria.sscMarks':{ required:'SSC Marks is required'},
                    'company.criteria.hscMarks':{ required:'HSC Marks is required'},
                    'company.criteria.currentDegreeMarks':{ required:'Current degree marks is required'}
                }
            });

            $("#event_form-next-2").click(function(){
                criteria=document.getElementById("company.criteria.sscMarks").value+"/"+document.getElementById("company.criteria.hscMarks").value+"/"+document.getElementById("company.criteria.currentDegreeMarks").value;
                $.ajax({
                        url:"po/listStudentsByCriteria/"+criteria,
                        success:function(result) {
                            $("#listOfEligibleStudents").html(result);
                        }
                    });
            });

            $("#event_form-next-3").click(function(e){
                var students = [];
                e.preventDefault(); //stop the default form action
                $('td input:checked').each(function () {
                    var sid = $(this).attr("value");
                    if(sid !== "on") {
                        students.push(sid);
                    }
                });
                document.getElementById("sidsOfEligibleStudents").value=students;
            });
        });
    </script>
</div>