<meta name="menuName" content="home"/>

<div class="hero-unit">

    <div class="content">
        <div class="login-form">

            <form class="form-horizontal" method="POST" action="login">
                <h3>Login to Placement Zone</h3>
                <hr/>
                <div class="control-group">
                    <div class="controls">
                        <span class="alert-error">
                            $!errorMessage
                        </span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">SID</label>

                    <div class="controls">
                        #springFormInput ('user.username' , 'placeholder="Username"')
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Password</label>

                    <div class="controls">
                        #springFormPasswordInput ('user.password' , 'placeholder="Password"')
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary">Sign in</button>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <p>New user? <a href="student/register">Register here.</a></p>
                    </div>
                </div>
            </form>


        </div>
    </div>
</div>