<form class="form-horizontal" id="studentRegistrationForm" method='post' action=''>
    <fieldset>

        <legend>Register Student </legend>

        <br/><p>Enter all student details and press <b>Register</b>.</p><br/>

        <div class="control-group">
            <label class="control-label" for="student_id">Student ID</label>

            <div class="controls">
                <input type="text" class="input-xlarge" id="student_id" name="student_id" rel="popover"
                       data-original-title="Student University ID"
                       data-content="Enter your unique university registration number." >
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="student_name">Name</label>

            <div class="controls">
                <input type="text" class="input-xlarge" id="student_name" name="student_name" rel="popover"
                       data-original-title="Full Name"
                       data-content="Enter your full name as appears in the University certificates." >
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="password">Password</label>

            <div class="controls">
                <input type="password" class="input-xlarge" id="password" name="password" rel="popover"
                       data-original-title="Password"
                       data-content="Enter a strong password. Must be greater than 6 letters. Don't forget it!" >
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="confirmPassword">Confirm Password</label>

            <div class="controls">
                <input type="password" class="input-xlarge" id="confirmPassword" name="confirmPassword" rel="popover"
                       data-original-title="Re-enter Password"
                       data-content="Enter your password again for confirmation." >
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="phone">Phone</label>

            <div class="controls">
                <input type="text" class="input-xlarge" id="phone" name="phone" rel="popover"
                       data-original-title="Phone/Mobile"
                       data-content="Enter your contact number" >
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="student_email">Email</label>

            <div class="controls">
                <input type="text" class="input-xlarge" id="student_email" name="student_email" rel="popover"
                       data-original-title="Email"
                       data-content="Enter your email Id for placement related communications." >
            </div>
        </div>


        <div class="control-group">
            <label class="control-label" for="marksInSSC">Marks (SSC)</label>

            <div class="controls">
                <input type="text" class="input-xlarge" id="marksInSSC" name="marksInSSC" rel="popover"
                       data-original-title="SSC Marks"
                       data-content="Enter your SSC (10th Standard) marks in percentage" >
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="marksInHSC">Marks (HSC)</label>

            <div class="controls">
                <input type="text" class="input-xlarge" id="marksInHSC" name="marksInHSC" rel="popover"
                       data-original-title="HSC Marks"
                       data-content="Enter your HSC (12th Standard) marks in percentage" >
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="marksInCurrentDegree">Marks (Current)</label>

            <div class="controls">
                <input type="text" class="input-xlarge" id="marksInCurrentDegree" name="marksInCurrentDegree" rel="popover"
                       data-original-title="Current Degree Marks"
                       data-content="Enter your average overall marks in percentage (for current degree)" >
            </div>
        </div>


        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-success btn-large" rel="tooltip" title="Click to Register student details.">Register</button>
            </div>
        </div>
    </fieldset>
</form>

<script src="resources/js/jquery.validate.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        $('input').hover(function () {
            $(this).popover('show')
        });

        $("#student_id").focus();

        $("#studentRegistrationForm").validate({
            rules:{
                student_id: "required",

                student_name:"required",

                password: {
                    required:true,
                    minlength:6
                },

                confirmPassword: {
                    equalTo:"#password"
                },

                phone: {
                    required:true,
                    number:true,
                    minlength:10
                },

                student_email:{
                    required:true,
                    email:true
                },

                marksInSSC:{
                    required:true,
                    number:true,
                    range:[0,100]
                },

                marksInHSC:{
                    required:true,
                    number:true,
                    range:[0,100]
                },

                marksInCurrentDegree:{
                    required:true,
                    number:true,
                    range:[0,100]
                }

            },
            messages:{

                student_id: "Enter your University provided unique student registration id",

                student_name:"Enter your first and last name",

                password: {
                    required:"Password is mandatory.",
                    minlength:"Password should be at least 6 characters long."
                },

                confirmPassword: {
                    equalTo:"Passwords don't match."
                },

                phone: {
                    required:"Phone number is mandatory",
                    minlength:"Phone number must be 10 digits long"
                },

                student_email:{
                    required:"Email is mandatory",
                    email:"Please provide a valid email ID"
                },

                marksInSSC:{
                    required:"SSC Marks are mandatory",
                    number:"Only digits are allowed",
                    range:"Marks must be between 0 to 100%"
                },

                marksInHSC:{
                    required:"HSC Marks are mandatory",
                    number:"Only digits are allowed",
                    range:"Marks must be between 0 to 100%"
                },

                marksInCurrentDegree:{
                    required:"Current degree Marks are mandatory",
                    number:"Only digits are allowed",
                    range:"Marks must be between 0 to 100%"
                }
            },
            errorClass:"help-inline",
            errorElement:"span",
            highlight:function (element, errorClass, validClass) {
                $(element).parents('.control-group').addClass('error');
            },
            unhighlight:function (element, errorClass, validClass) {
                $(element).parents('.control-group').removeClass('error');
                $(element).parents('.control-group').addClass('success');
            }
        });
    });
</script>