<meta name="menuName" content="list"/>
<head>
    <script src="resources/js/stupidtable.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#studentsList").stupidtable();
        });
    </script>
</head>

<div class="hero-unit">
    <h3>Students List</h3>
    <hr/>
    <table id="studentsList" class="table table-bordered">
        <thead>
        <tr>
            <th class="type-string">SID</th>
            <th class="type-string">Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th class="type-float">SSC Marks</th>
            <th class="type-float">HSC Marks</th>
            <th class="type-float">Current Marks</th>
        </tr>
        </thead>
        <tbody>
            #foreach( $student in $studentList )
            <tr>
                <td>${student.SID}</td>
                <td>${student.fullName}</td>
                <td>${student.phoneNumber}</td>
                <td>${student.email}</td>
                <td>${student.marks.sscMarks}</td>
                <td>${student.marks.hscMarks}</td>
                <td>${student.marks.currentDegreeMarks}</td>
            </tr>
            #end
        </tbody>
    </table>
</div>