<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1>Hello, world! from Velocity</h1>
</div>

<h1>Students list:</h1>

<table>
    <thead>
    <tr>
        <th>Student Name</th>
        <th>Age</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>${name}</td>
        <td>${age}</td>
    </tr>
    </tbody>
</table>
