<meta name="menuName" content="register"/>

<div class="hero-unit">

<form class="form-horizontal" id="studentRegistrationForm" method="POST" action="student/register">
    <fieldset>

        <h2>Register Student </h2><hr/>

        <p>Enter all student details and press <b>Register</b>.</p><br/>

        <div class="control-group">
            <label class="control-label">Student ID</label>

            <div class="controls">
                #springFormInput ('student.SID' , 'class="input-xlarge" rel="popover"
                                                   data-original-title="Student University ID"
                                                   data-content="Enter your unique university registration number."')
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Name</label>

            <div class="controls">
                #springFormInput ('student.fullName' , 'class="input-xlarge" rel="popover"
                                                        data-original-title="Full Name"
                                                        data-content="Enter your full name as appears in the University certificates."')
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Password</label>

            <div class="controls">
                #springFormPasswordInput ("student.password" , 'class="input-xlarge" rel="popover"
                                                        data-original-title="Password"
                                                        data-content="Enter a strong password. Must be greater than 6 letters."')
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Confirm Password</label>

            <div class="controls">
                <input type="password" class="input-xlarge" id="confirmPassword" name="confirmPassword" rel="popover"
                       data-original-title="Re-enter Password"
                       data-content="Enter your password again for confirmation." >
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Phone</label>

            <div class="controls">
                #springFormInput ('student.phoneNumber' , 'class="input-xlarge" rel="popover"
                                                            data-original-title="Mobile Phone"
                                                            data-content="Enter your contact number"')
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Email</label>

            <div class="controls">
                #springFormInput ('student.email' , 'class="input-xlarge" rel="popover"
                                                            data-original-title="Email"
                                                            data-content="Enter your email Id for placement related communications."')
            </div>
        </div>


        <div class="control-group">
            <label class="control-label">Marks (SSC)</label>

            <div class="controls">
                #springFormInput ('student.marks.sscMarks' , 'class="input-xlarge" rel="popover"
                                                            data-original-title="SSC Marks"
                                                            data-content="Enter your SSC (10th Standard) marks in percentage"')
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Marks (HSC)</label>

            <div class="controls">
                #springFormInput ('student.marks.hscMarks' , 'class="input-xlarge" rel="popover"
                                                            data-original-title="HSC Marks"
                                                            data-content="Enter your HSC (12th Standard) marks in percentage"')
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Marks (Current)</label>

            <div class="controls">
                #springFormInput ('student.marks.currentDegreeMarks' , 'class="input-xlarge" rel="popover"
                                                            data-original-title="Current Degree Marks"
                                                            data-content="Enter your average overall marks in percentage (for current degree)"')
            </div>
        </div>


        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-success btn-large" rel="tooltip" title="Click to Register student details.">Register</button>
            </div>
        </div>
    </fieldset>
</form>
</div>
<script src="resources/js/jquery.validate.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        $('input').hover(function () {
            $(this).popover('show')
        });

        $("#student_id").focus();

        $("#studentRegistrationForm").validate({
            rules:{
                SID: "required",

                fullName:"required",

                password: {
                    required:true,
                    minlength:6
                },

                confirmPassword: {
                    equalTo:"#password"
                },

                phoneNumber: {
                    required:true,
                    number:true,
                    minlength:10
                },

                email:{
                    required:true,
                    email:true
                },

                'marks.hscMarks':{
                    required:true,
                    number:true,
                    range:[0,100]
                },

                'marks.sscMarks':{
                    required:true,
                    number:true,
                    range:[0,100]
                },

                'marks.currentDegreeMarks':{
                    required:true,
                    number:true,
                    range:[0,100]
                }

            },
            messages:{

                SID: "Enter your University provided unique student registration id",

                fullName:"Enter your first and last name",

                password: {
                    required:"Password is mandatory.",
                    minlength:"Password should be at least 6 characters long."
                },

                confirmPassword: {
                    equalTo:"Passwords don't match."
                },

                phoneNumber: {
                    required:"Phone number is mandatory",
                    minlength:"Phone number must be 10 digits long"
                },

                email:{
                    required:"Email is mandatory",
                    email:"Please provide a valid email ID"
                },

                'marks.sscMarks':{
                    required:"SSC Marks are mandatory",
                    number:"Only digits are allowed",
                    range:"Marks must be between 0 to 100%"
                },

                'marks.hscMarks':{
                    required:"HSC Marks are mandatory",
                    number:"Only digits are allowed",
                    range:"Marks must be between 0 to 100%"
                },

                'marks.currentDegreeMarks':{
                    required:"Current degree Marks are mandatory",
                    number:"Only digits are allowed",
                    range:"Marks must be between 0 to 100%"
                }
            },
            errorClass:"help-inline",
            errorElement:"span",
            highlight:function (element, errorClass, validClass) {
                $(element).parents('.control-group').addClass('error');
            },
            unhighlight:function (element, errorClass, validClass) {
                $(element).parents('.control-group').removeClass('error');
                $(element).parents('.control-group').addClass('success');
            }
        });
    });
</script>