<head>
    <title>Manage Profile</title>
</head>
<body>
<div class="hero-unit">
    <form class="form-horizontal" id="studentRegistrationForm" method="POST" action="student/profile/update">
        <fieldset>

            <h2>Manage profile</h2><hr/>

            <div class="control-group">
                <div class="controls">
                        <span class="alert-info">
                            $!message
                        </span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Student ID</label>

                <div class="controls">
                    #springFormInput ('student.SID' , 'class="input-xlarge uneditable-input" readonly="readonly"')
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Name</label>

                <div class="controls">
                    #springFormInput ('student.fullName' , 'class="input-xlarge"')
                </div>
            </div>

##            <div class="control-group">
##                <label class="control-label">Password</label>
##
##                <div class="controls">
##                    #springFormPasswordInput ("student.password" , 'class="input-xlarge uneditable-input" readonly="readonly"')
##                </div>
##            </div>
##
##            <div class="control-group">
##                <label class="control-label">Confirm Password</label>
##
##                <div class="controls">
##                    <input type="password" class="input-xlarge" id="confirmPassword" name="confirmPassword" rel="popover"
##                           data-original-title="Re-enter Password"
##                           data-content="Enter your password again for confirmation." >
##                </div>
##            </div>

            <div class="control-group">
                <label class="control-label">Phone</label>

                <div class="controls">
                    #springFormInput ('student.phoneNumber' , 'class="input-xlarge"')
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Email</label>

                <div class="controls">
                    #springFormInput ('student.email' , 'class="input-xlarge"')
                </div>
            </div>


            <div class="control-group">
                <label class="control-label">Marks (SSC)</label>

                <div class="controls">
                    #springFormInput ('student.marks.sscMarks' , 'class="input-xlarge"')
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Marks (HSC)</label>

                <div class="controls">
                    #springFormInput ('student.marks.hscMarks' , 'class="input-xlarge"')
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Marks (Current)</label>

                <div class="controls">
                    #springFormInput ('student.marks.currentDegreeMarks' , 'class="input-xlarge"')
                </div>
            </div>


            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-warning btn-large" rel="tooltip" title="Update">Update Profile</button>
                </div>
            </div>
        </fieldset>
    </form>

</div>
</body>