<head>
    <title>List Students</title>
    <meta name="menuName" content="list"/>
    <script src="resources/js/stupidtable.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#studentsList").stupidtable();

            $('#selectAll').click(function (e) {
                var table = $(e.target).closest('table');
                $('td input:checkbox', table).attr('checked', this.checked);
            });

//            $('#submitStudent').click(function (e) {
//                e.preventDefault(); //stop the default form action
//                var students = [];
//                $('td input:checked').each(function () {
//                    students.push($(this).attr("value"));
//                });
//            });
        });
    </script>
</head>

<div class="hero-unit">
    <table id="studentsList" class="table table-bordered">
        <thead>
        <tr>
            <td><input type="checkbox" id="selectAll" name="selectAll"/></td>
            <th class="type-string">SID</th>
            <th class="type-string">Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th class="type-float">SSC Marks</th>
            <th class="type-float">HSC Marks</th>
            <th class="type-float">Current Marks</th>
        </tr>
        </thead>
        <tbody>
            #foreach( $student in $studentList )
            <tr>
                <td><input type="checkbox" id="select_${student.sid}" name="select_${student.sid}" value="${student.sid}"/></td>
                <td>${student.sid}</td>
                <td>${student.fullName}</td>
                <td>${student.phoneNumber}</td>
                <td>${student.email}</td>
                <td>${student.marks.sscMarks}</td>
                <td>${student.marks.hscMarks}</td>
                <td>${student.marks.currentDegreeMarks}</td>
            </tr>
            #end
        </tbody>
    </table>

</div>