<meta name="menuName" content="home"/>

<div class="hero-unit">
    <h3>Placement Zone</h3>
    <hr/>
    Welcome to Placement Zone portal for managing college placement requirements. Ensure your profile details are up-to-date.
</div>